<div class="container">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th *ngFor="let column of columns">{{column}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of (_data | async)?.links">
      <ng-container *ngFor="let column of columns">

        <td *ngIf="column === 'actions'; else elseBlock">actions</td>

        <ng-template #elseBlock>
          <td>
            {{row[column]}}
          </td>
        </ng-template>

      </ng-container>
    </tr>
    </tbody>
    <app-pagination *ngIf="pagination"
                    [numberOfItems]="(_data | async)?.count">
    </app-pagination>
    {{(_data | async)?.count}} aaa
  </table>
</div>


